<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<p align="center">
    <fieldset id="" style="width: 30%;">
        <legend align="center">Register</legend>
        <p class="error" style="color: red;">{{ error }}</p>
        <form action="/register" method="POST">
            <p>username: <input style="width: 90%" type="text" name="username"></p>
            <p>password: <input style="width: 90%" type="password" name="password"></p>
            <p align="center"><button name="submit">Create account</button></p>
        </form>
    </fieldset>
</p>
</body>
</html>